---
import LanguageSwitcher from "../components/UI/LanguageSwitcher.astro";
import "../styles/global.css";
import "@fontsource/geist/400.css";
import "@fontsource/geist/600.css";
import "@fontsource/geist/800.css";
const { title, lang = "en" } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
    <title>{title}</title>
  </head>

  <body class="font-sans antialiased bg-background text-foreground">
    <header class="p-1 flex justify-end">
      <LanguageSwitcher lang={lang} />
    </header>

    <main class="min-h-screen">
      <slot />
    </main>

  </body>
</html>
